<div><b>Current Race Track:</b></div>
<div style="display:flex;">
	<div id="NameBox">
		<div *ngFor='let racer of racersService.racers' class="BoxRow">
			{{racer.name}}
		</div>
	</div>
	<div id="RaceBox" style="width:{{trackWidth}}px;">
		<div *ngFor='let racer of racersService.racers' class="BoxRow TrackRow" style="color:{{racer.color}};">  
			<div style="width: {{calculate_width(racer)}}px"></div>
			<div class="RacerIcon">
				<div *ngIf="racer.disqualified; then thenBlock else elseBlock"></div>
					<ng-template #thenBlock>X</ng-template>
					<ng-template #elseBlock>O</ng-template>
			</div>
		</div>
	</div>
</div>
